page-home {
  .center {
    margin: auto;
    text-align: center;
  }

  .weather_icon {
    height: 50px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #\#txtDate {
    font-size: 1.2em;
  }
  #containerInfo {
    background-color: rgba(32, 178, 170, 0.5);
  }
  #\#txtPlace {
    font-size: 1.6em;
    text-align: center;
    color: black;
  }
  #\#txtTemp {
    font-size: 1.8em;
    text-align: center;
    color: black;
  }

  #\#txtTime {
    text-align: center;
    color: black;
  }

  .lblResult {
    font-style: italic;
  }

  .lblResult p {
    font-size: 0.8em;
  }

  .txtResult p {
    font-size: 0.8em;
    font-weight: bold;
  }

  .navbar {
    background-color: #488aff;
  }
}
