<ion-header>
    <ion-navbar class="navbar">
        <ion-title>
            {{'currentWeather' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content style="background-color: lightseagreen">

    <ion-grid>
        <ion-row>
            <ion-searchbar (ionInput)="autoComplete($event)"></ion-searchbar>
        </ion-row>
        <ion-row>
            <ion-list inset *ngIf="suggestItems != null">
                <button (click)="search(suggestItem)" ion-item *ngFor="let suggestItem of suggestItems">
                    {{suggestItem.name}}
                </button>
            </ion-list>
        </ion-row>
        <ion-row *ngIf="(suggestItems == null ||suggestItems.length == 0) && result != null; else spinning">
            <ion-card>
                <ion-card-content>
                    <p id="#txtPlace">{{result.location.name}}</p>
                    <img class="weather_icon" height="20" width="20" src="{{result.current.condition.icon}}"
                         alt="Weather Condition">
                    <p id="#txtTemp">{{result.current.temp_c}} &#8451;</p>
                    <p id="#txtTime">{{'localtime' | translate }} {{getTime(result.location.localtime)}}</p>

                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-content>
                    <ion-row>
                        <ion-col col-5 class="lblResult">
                            <p>{{'country' | translate }}</p>
                            <p>{{'name' | translate }}</p>
                            <p>{{'lat' | translate }}</p>
                            <p>{{'long' | translate }}</p>
                            <p>{{'condition' | translate }}</p>
                            <p>{{'temp_c' | translate }}</p>
                            <p>{{'temp_f' | translate }}</p>
                            <p>{{'humidity' | translate }}</p>
                            <p>{{'wind_speed' | translate }}</p>
                        </ion-col>
                        <ion-col col-7 class="txtResult">
                            <p>{{result.location.country}}</p>
                            <p>{{result.location.name}}</p>
                            <p>{{result.location.lat}}</p>
                            <p>{{result.location.lon}}</p>
                            <p>{{result.current.condition.text}}</p>
                            <p>{{result.current.temp_c}}</p>
                            <p>{{result.current.temp_f}}</p>
                            <p>{{result.current.humidity}}%</p>
                            <p>{{result.current.wind_kph}}km/h</p>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>
    <ng-template #spinning>
        <ion-spinner text-left class="center"></ion-spinner>
    </ng-template>
</ion-content>
