<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'about' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div id="containerIcon">
    <ion-img id="icon" src="./../../assets/imgs/icon.jpg"></ion-img>
    <h1>Weather Now</h1>
  </div>
  <ion-list>
    <ion-list-header>{{'dev' | translate }}</ion-list-header>
    <ion-item>
      <ion-avatar item-start>
        <img src="./../../assets/imgs/avatar.jpg">
      </ion-avatar>
      <p>Võ Kiên Tâm</p>
      <ion-note item-end>1212347</ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <img src="./../../assets/imgs/avatar2.jpg">
      </ion-avatar>
      <p>Huỳnh Duy Nhật Quang</p>
      <ion-note item-end>1312457</ion-note>
    </ion-item>

    <ion-list-header>{{'app' | translate }}</ion-list-header>
    <ion-item>
      <ion-note ion-start>{{'version' | translate }}</ion-note>
      <ion-note item-end>1.0</ion-note>
    </ion-item>
    <ion-item>
      <ion-note ion-start>{{'appname' | translate }}</ion-note>
      <ion-note item-end>Weather Now</ion-note>
    </ion-item>
    <ion-item>
      <ion-note ion-start>Framework</ion-note>
      <ion-note item-end>Ionic</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>{{'language' | translate }}</ion-label>
      <ion-select [(ngModel)]="lang" (ionChange)="switchLanguage()">
        <ion-option value="en">English</ion-option>
        <ion-option value="vi">Tiếng Việt</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>
