<ion-tabs [selectedIndex]="0">
    <ion-tab [root]="homePage" tabTitle=" {{ 'weather' | translate }}" tabIcon="sunny"></ion-tab>
    <ion-tab [root]="foreCastPage" tabTitle=" {{ 'forecast' | translate }}" tabIcon="planet"></ion-tab>
    <ion-tab [root]="cityPage" tabTitle=" {{ 'city' | translate }}" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="aboutPage" tabTitle=" {{ 'about' | translate }}" tabIcon="information-circle"></ion-tab>
</ion-tabs>
