<!--
  Generated template for the ForecastPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>
            {{'forecast' | translate }}
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content style="background-color: lightseagreen">
    <ion-grid *ngIf="forecastResult != null; else spinning">
        <ion-row id="lblPlace" align-items-center>
            <ion-col align-self-center justify-content-center="">
                {{forecastResult.location.name}}, {{forecastResult.location.country}}
            </ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col align-self-center>
                <ion-list no-lines align-items-center class="forecast_container">
                    <ion-item class="forecast_item"
                              *ngFor="let item of forecastResult.forecast.forecastday">
                        <p class="lblWeekDay">{{item.weekDay}}</p>
                        <img class="imgForecast" src="{{item.day.condition.icon}}"
                             style="height: 20px; width: 20px"/>
                        <p class="lblCondition">{{item.day.condition.text}}</p>
                        <p class="lblTemp_C">{{item.day.avgtemp_c}} &#8451;</p>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ng-template #spinning>
        <ion-grid>
            <ion-spinner text-left class="center"></ion-spinner>
        </ion-grid>
    </ng-template>
</ion-content>
