page-forecast {
  .center{
    margin: auto;
  }
  #lblPlace {
    text-align: center;
    color: black;
    font-size: 1.5em;
  }
  .forecast_container{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

  }
  .forecast_item {
    display:inline-block;
    width: 33.33vw;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .lblWeekDay {
    color: black;
    font-size: 1em;
    text-align: center;
  }
  .lblCondition {
    color: black;
    text-align: center;
    font-size: 0.8em;
  }
  .imgForecast {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  .lblTemp_C {
    color: black;
    text-align: center;
  }

}